<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="net.sourceforge.texlipse.viewer.launchConfigurationType">
<stringAttribute key="acroread.arguments" value="%file"/>
<stringAttribute key="acroread.command" value="/usr/bin/acroread"/>
<stringAttribute key="acroread.ddeCloseCommand" value="[DocClose(&quot;%fullfile&quot;)]"/>
<stringAttribute key="acroread.ddeCloseServer" value="acroview"/>
<stringAttribute key="acroread.ddeCloseTopic" value="control"/>
<stringAttribute key="acroread.ddeViewCommand" value="[DocOpen(&quot;%fullfile&quot;)][FileOpen(&quot;%fullfile&quot;)]"/>
<stringAttribute key="acroread.ddeViewServer" value="acroview"/>
<stringAttribute key="acroread.ddeViewTopic" value="control"/>
<stringAttribute key="viewerCurrent" value="acroread"/>
</launchConfiguration>
